[buildout]
develop = . 
parts = svn test

[svn]
recipe = infrae.subversion
as_eggs = True
urls = svn://svn.zope.org/repos/main/zope.app.appsetup/trunk zope.app.appsetup

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.wsgi [test]
