[buildout]
develop = . 
parts = test
extensions = mr.developer
auto-checkout = zope.app.appsetup

[sources]
zope.app.appsetup = svn svn+ssh://svn.zope.org/repos/main/zope.app.appsetup/trunk

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.wsgi [test]
