[buildout]
extends =
  http://download.zope.org/zopetoolkit/index/1.1/zopeapp-versions.cfg
  http://download.zope.org/zopetoolkit/index/1.1/ztk-versions.cfg
develop = .
parts = test
extensions = mr.developer
auto-checkout = zope.testbrowser

[sources]
zope.testbrowser = svn svn+ssh://svn.zope.org/repos/main/zope.testbrowser/branches/jinty-webtest3

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.wsgi [test]
